.btn{
    border: none;
    border-radius: 20px;
    color: #001a33;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
    background-color: #ffffff;
    margin-right: 150px;
    width: 100%;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  
.btn img{
    width: 60px;
    height: 60px;
}
  
.btn:hover{
    color: #001A33;
}

.btn:after{
    content: "";
    width: 0;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 20px 20px;
    transition: all 0.35s ease 0s;
}

.btn:hover:after{
    width: 100%;
}
  
.btn.blue:after{
    background: #001a33;
}

.text-center{
    text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.2);
    color: #001a33;
}
  
.col{
    background-image: url('https://e0.pxfuel.com/wallpapers/914/810/desktop-wallpaper-pastel-blue-purple-mint-ombre-gradient-phone-phone-pastel-blue-gradient.jpg');
    padding: 30px;
    margin: 17px;
    margin-bottom: 3em;
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    flex: 5%;
    max-width: 47%;
}

.col img{
    width: 520px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.att-desc {
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn1{
    border: none;
    border-radius: 20px;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 10px;
    position: relative;
    background-color: #001a33;
    width: 100%;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn2{
    border: none;
    border-radius: 20px;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 10px;
    position: relative;
    background-color: #001a33;
    width: 100%;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 324px;
}

.btn1:hover, .btn2:hover{
    color: #001A33;
    background-color: white;
}

.column-link{
    text-decoration: none;
    color:#001A33;
}

.load{
    color: #001A33;
    cursor: pointer;
    margin-left: 20px;
}

.load:hover{
    text-decoration: underline;
}

.btn-sm{
    color: white;
    background-color: #00284d;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    text-decoration: none;
    padding: 10px;
}

.btn-sm:hover{
    color: white;
    background-color: #001A33;
}

@media screen and (max-width: 767px){
    .btn{
        margin-bottom: 20px;
    }

    .col{
        display: block;
        padding: 40px;
        max-width: 350px;
        margin:20px;
    }

    .col img{
        width: 280px;
        height: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .btn2{
        margin-top: 25px;
    }
    
    .head{
        font-size: 40px;
    }
}



