.search-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
  
.search-container input[type=text] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 15px 0 0 15px;
  width: 500px;
}

.search-container button {
  border: none;
  background-color: #001a33;
  color: white;
  padding: 10px;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  width: 50px;
}

.dropdown {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  row-gap: 5px;
  width: 500px;
  margin: 0 487px auto;
  border-radius: 5px 5px 10px 10px;
}



@media screen and (max-width: 767px) {
  .search-container input[type=text] {
    width: 80%;
  }

  .search-container button {
    width: 20%;
  }
}