.carousel-holder{
  display: flex;
  justify-content: center ; 
}

/*leftbtn*/
.leftbtn {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 97%;
  fill: white;
}  

.leftbtn1 {
width: 25px;
height: 25px;
position: absolute;
top: 50%;
right: -3%;
fill: white;
}  

.leftbtn2 {
width: 25px;
height: 25px;
position: absolute;
top: 50%;
right: -103%;;
fill: white;
} 

/*rightbtn*/
.rightbtn {
position: absolute;
top: 50%;
right: 2%;
fill: white;
}

.rightbtn1 {
position: absolute;
top: 50%;
right: -98%;
fill: white;
}

.rightbtn2 {
position: absolute;
top: 50%;
right: -198%;
fill: white;
}

.carousel-frame{
  width: 1364px;
  height: 452px;
  overflow: hidden;
  border-radius: 35px;
}

.carousel{
  display: flex;    
}

.carousel img {
  width: 100%;
  height: auto;
}


.slide {
  width: 1364px;
  height:452px;
  flex-shrink: 0;
  outline: 2px;
}

.indicators{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 5px;    
}

.indicator{
  width: 10px;
  height: 10px;
  background: white;
  border-radius:10px;
}
  
.active{
  background-color: #001a33;
}

/*Button*/
.btn{
  border: none;
  border-radius: 20px;
  color: #001a33;
  text-transform: uppercase;
  padding-bottom: 15px;
  position: relative;
  background-color: #ffffff;
  margin-right: 150px;
  width: 100%;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn img{
  width: 60px;
  height: 60px;
}

.btn:hover{
  color: #001A33;
}
.btn:after{
  content: "";
  width: 0;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 20px 20px;
  transition: all 0.35s ease 0s;
}
.btn:hover:after{
  width: 100%;
}
.btn.blue:after{
  background: #001a33;
}

/*aboutus*/
.image-container {
  position: relative;
  height: 300px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #001a33;
  font-size: 24px;
  text-align: center;
  width: 80%;
  z-index: 1;
}

/*experience*/
.rightside{
  flex: 50%;
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.rightside img{
  width: 400px;
  height: 350px;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.p .rightside {
  text-align: center;
}

/*.rightside p:hover{
  text-decoration: underline;
}*/

.leftside{
  flex: 10%;
  padding: 20px;
  margin-left: 30px;
}

.leftside a{
  color: #001A33;
  text-decoration: none;
}

.leftside a:hover{
  color:white;
  text-decoration: underline;
}

.visit_container{
  line-height: 45px;
  color: #001A33;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 50px;
  display: flex;
  flex-direction: row;
}

.experience_cont{
  display:flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  padding: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 45px;
}

.justified-text{
  width: 100px;
  text-align: justify;
  text-justify: inter-word;
}

.title{
  margin-left: 4rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.col-12 {
  flex: 3%;
  margin-left: 10px;
  text-align: center;
}

.col-12 p{
  font-size: 20px;
  margin-top: 20px;
}


/*Community*/
.column {
  flex: 33.33%;
  padding: 13px;
  margin: 10px;
  text-align: center;
  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/353/335/desktop-wallpaper-pastel-gradient-light-green-gradient.jpg');
  border-radius: 35px;
  margin-left: 30px;
  background-size: 400px;
  height: 700px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.container {
  display: flex;
  justify-content: center;
}

.column img {
  height: 250px;
  width: 362px;
  border-radius: 32px;
  padding: 15px;
}

.column h4{
  color: #001A33;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: justify;
  padding: 20px;
}

.column p{
  color: #001A33;
  font-size: 20px;
  text-align: justify;
  padding: 20px;
  text-decoration: none;
}

.column-link {
  text-decoration: none;
}

.column:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.community{
  padding-left: 5rem;
}

.community a{
  color: #001A33;
  text-decoration: none;
}

.column-link{
  cursor: pointer;
}

.column-link:hover{
  text-decoration: none;
}

/* Media queries */
/*@media screen and (max-width: 600px) {
  .search-container input[type=text] {
    width: 70%;
  }

  .search-container button {
    width: 20%;
  }

}*/

@media (max-width: 769px){
  /*Slider*/
  .carousel-inner{
    display: block;
  }

  .carousel-item{
    display: block;
    margin-right: 0px;

  }

  .carousel img {
    width: 531px;
    height: auto;
  }

  .slide, .carousel-frame{
    width: 352px;
    height: 177px;
  }

  .leftbtn{
    right: 93%;
  }

  .leftbtn1{
    right: -7%;
  }

  .leftbtn2{
    right: -107%;
  }

  /*button*/
  .btn{ 
      margin-bottom: 20px; 
  }
  
  /*aboutus*/
  .text-container {
    font-size: 18px;
  }

  .image-container {
    position: relative;
    height: 400px;
  }

  /*Experience*/
  .visit_container{
    display: block;
    padding: 0px;
  }

  .experience_cont{
    display: block;
    padding: 0px;
  }

  .row{
    display: block;
  }

  .title{
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .leftside, .rightside{
    padding: 0px;
    margin: 33px;
  }

  .rightside img{
    width: 300px;
    height: 285px;
  }

  .col-12{
    margin-left: 0px;
  }

  /*Community*/
  .community{
    padding-left: 30px;
    padding-top: 50px;
  }

  .container{
    display: block;
  }

  .container, .column  {
    display: block;
    margin-bottom: 40px !important;
    margin-left:3px;
  }

  .column img{
    width: 320px;
    height: 260px;
  }

}

@media (min-width: 769px) and (max-width: 1400px){
  .carousel img {
    width: 700px;
    height: auto;
  }

  .slide, .carousel-frame{
    width: 700px;
    height: 230px;
  }

  .leftbtn{
    right: 95%;
  }

  .leftbtn1{
    right: -5%;
  }

  .leftbtn2{
    right: -105%;
  }
}


