<!--Slider-->
<div class="overflow-hidden">
<div class="carousel-holder mt-4 mx-2">
    <div class="carousel-frame">
        <div class="carousel">
            <div class="slide">
                <div class="leftbtn">
                    <svg width="20" height="20">
                        <polygon points="20,5 20,0 5,10 20,20 20,15 10,10" />
                    </svg>  
                </div>
                <img src="assets/img_component/slide 1.svg">
                <div class="rightbtn">
                    <svg width="20" height="20">
                        <polygon points="0,5 0,0 15,10 0,20 0,15 10,10" />
                    </svg>
                </div>
            </div>

            <div class="slide">
                <div class="leftbtn1">
                    <svg width="20" height="20">
                        <polygon points="20,5 20,0 5,10 20,20 20,15 10,10" />
                    </svg>  
                </div>
                <img src="https://static.the.akdn/53832/1664185981-0_aerial-view-at-night.jpg">
                <div class="rightbtn1">
                    <svg width="20" height="20">
                        <polygon points="0,5 0,0 15,10 0,20 0,15 10,10" />
                    </svg>
                </div>
            </div>
              
            <div class="slide">
                <div class="leftbtn2">
                    <svg width="20" height="20">
                        <polygon points="20,5 20,0 5,10 20,20 20,15 10,10" />
                    </svg>  
                </div>
                <img src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1200,h_630/w_80,x_15,y_15,g_south_west,l_Klook_water_br_trans_yhcmh3/activities/3c5857e2-Explore-Georgetown/Explore%20Georgetown.jpg">
                <div class="rightbtn2">
                    <svg width="20" height="20">
                        <polygon points="0,5 0,0 15,10 0,20 0,15 10,10" />
                    </svg>
                </div>
            </div>
        </div>
    </div> 
</div>

<div class="indicators">
    <div class="indicator active"></div>
    <div class="indicator"></div>
    <div class="indicator"></div>
</div>

<app-searchbar></app-searchbar>

<div class="container my-5">
    <div class="row text-center">
        <div class="col-sm-3">
            <a href="/thingstodo" class="btn btn-lg blue">things to do
                <img src="assets/img_component/ticket 1.svg">
            </a>
        </div>
 
        <div class="col-sm-3">
            <a href="/busstop" class="btn btn-lg blue">Bus Stop
                <img src="assets/img_component/bus-stop.svg">
            </a>
        </div>
 
        <div class="col-sm-3">
            <a href="/attractions" class="btn btn-lg blue">Attractions
                <img src="assets/img_component/attraction1.svg">
            </a>
        </div>

        <div class="col-sm-3">
            <a href="/events" class="btn btn-lg blue">events
                <img src="assets/img_component/event.svg">
            </a>
        </div>
    </div>
</div>


<div class="image-container">
    <img src="assets/img_component/aboutus.svg">
    <div class="text-container">
        <h2>About Us</h2>
        <p>George Town is the colorful, multicultural capital of the Malaysian island of Penang. 
          Once an important Straits of Malacca trading hub, the city is known for its British 
          colonial buildings, Chinese shophouses and mosques. Beyond the old town, George Town 
          is a modern city with skyscrapers and shopping malls. Verdant Penang Hill, with hiking 
          and a funicular railway, overlooks it all.</p>
    </div>
</div>

<!--Explore more about Penang-->
<h1 class="title my-5">Explore more about Penang</h1>
<div class="visit_container">      
    <div class="leftside">
        <h2>Visit</h2>
        <p>Places to see, ways to wander, and signature experiences.</p>
        <a href="/attractions">see all</a>
    </div>
    <div class="rightside">
        <div class="row justify-content-end">
          <div class="col-12" *ngFor="let attdata of attdataList" >
            <img [src]="attdata.att_image" alt="Attraction Image">
            <p  (click)="redirectToAttractionDashboardComponent(attdata)" class="column-link">{{ attdata.att_name }}</p>
          </div>
        </div>
    </div>    
</div>    

<div class="experience_cont">
    <div class="leftside">
        <h2>Experience</h2>
        <p>Experience exciting places</p>
        <a href="/thingstodo">see all</a>
    </div>
    <div class="rightside">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-12" *ngFor="let attdata of additionalAttractions" >
                    <img [src]="attdata.att_image" alt="Attraction Image">
                    <p  (click)="redirectToAttractionDashboardComponent(attdata)" class="column-link">{{ attdata.att_name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="visit_container">
    <div class="leftside">
        <h2>Eat</h2>
        <p>Can't-miss spots to dine, drink, and feast.</p>
        <a href="/eateries">see all</a>
    </div>
    <div class="rightside">
        <div class="row justify-content-end">
            <div class="col-12" *ngFor="let eatdata of eatdataList" >
                <img [src]="eatdata.eat_image" alt="Eateries Image">
                <p  (click)="redirectToEateriesDashboardComponent(eatdata)" class="column-link">{{ eatdata.eat_name }}</p>
            </div>
        </div>
    </div>
</div>   

<!--Community-->
<!-- <div class="community mb-3">
    <h1>Community</h1>
    <a href="/community">More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
</div>
<div class="container">
    <a href="#" class="column-link">
        <div class="column">
            <img src="https://www.walkabout.asia/wp-content/uploads/2016/02/DSC2096.jpg">
            <h4>Penang Hill Ultimate Travel Guide:  Coolest things to See, Do & Eat on Penang's Famous Hill Station </h4>
            <p>Rising in the central part of the island, Penang Hill (known in Malay as “Bukit Bendera”, or Flag Hill) is an 
               imposing 833-meters-high hill, and one of the unmissable things to do in Penang.</p>
        </div>
    </a>

    <a href="#" class="column-link">
L            <img src="https://danielfooddiary.com/wp-content/uploads/2022/09/overandabove10.jpg">
            <h4>Over And Above, PENANG - NEW Japanese-Inspired Cafe In The Day And Bar By Night At George Town</h4>
            <p>Cafe in the day, bar at night, Japanese-inspired Over and Above has opened recently in Penang. 
                Located a short distance from one of the places of interest in Penang - Chew Jetty.</p>
        </div>
    </a>

    <a href="#" class="column-link">
        <div class="column">
            <img src="https://img.theculturetrip.com/768x/smart/wp-content/uploads/2018/01/shutterstock_594590456.jpg">
            <h4>City Hall</h4>
            <p>Located at the westernmost point of Penang Island, this majestic building is a funky formula of Neo-Baroque 
                and Palladian architectural styles, featuring colonnades, arched windows, and a sharp rooftop silhouette.</p>
        </div>
    </a>
</div> -->

