version: '3.8'

services:
  # PostgreSQL Database
  db:
    image: postgres:15-alpine
    container_name: ecommerce-db
    environment:
      POSTGRES_DB: ${DB_NAME:-ecommerce}
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER:-postgres}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - ecommerce-network

  # Backend API
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ecommerce-backend
    environment:
      NODE_ENV: production
      PORT: 5000
      DB_HOST: ecommercedb.cpz9losh6eqj.us-east-1.rds.amazonaws.com
      DB_PORT: "5432"
      DB_NAME: ecommerce
      DB_USER: postgres
      DB_PASSWORD: ecommerce123
      DB_SSL: "true"

      JWT_SECRET: ecommerce-jwt-secret-key-aws-academy-2025-xyz123abc456
      FRONTEND_URL: http://ecommerce-alb-1178391586.us-east-1.elb.amazonaws.com
      REACT_APP_API_URL: http://ecommerce-alb-1178391586.us-east-1.elb.amazonaws.com/api
      ADMIN_SIGNUP_CODE: MyAdminCode12345

      AWS_ACCESS_KEY_ID: ASIAZNISTHURDQW7VFGQ
      AWS_SECRET_ACCESS_KEY: +z8Qyq7ROwVP2ijGKIcyu5BePI8Zv4qQFvc+iT1z
      AWS_SESSION_TOKEN: IQoJb3JpZ2luX2VjEAIaCXVzLXdlc3QtMiJIMEYCIQCTP+Y2HwrLSAQeGTz4CSOZ+SIuPwSAjy5I+2lLyKZcDgIhAMigmQCNqaAtJd/ck9uoU1Hkr3j7xFJy7DIYG/dmSFAsKr4CCMv//////////wEQABoMNjQ2OTY4NDU4NTMwIgxdt87uV8L0M6wv2FkqkgJAookeYxsW4qMorAxU32jrEAbAK0q0B8DdSt0llhMcgCm8HChtihOnUHzRcYCB8al1f7k2AkMvy8pf4iD8u+b/IbzlsXwMrknnr8UgM15mat7/bZH04wpsIc9BJW643hANNTEneIWIzOfA6qsk19O/opZFXARVlPrVVWsEwK3ujvwl6lefnu2sUm5VsrchgJ0W9AWPzn5sb001UPYFupjv6Cy29/C/Co+bPBUP2XatrvWtQeX9aExujQDzJBarAA/f9LDFUg5kwT3UeaCbgDRcPB0PdqZShcRDyS1L1JAWzbGjXKm8VMIBzFw06SQ1KZ8XlL+xDiXu1qiun/bAZO+oZbAC0z++TCFvI7D2BFyYQvLNMN2t48kGOpwBMNm/F01mS1zAVFI9AKoAmWajUiYsZbVZqDNcGlOy2WdDfZjMt6rzta8etLqWDkiLbR3dtR2LmmNUGkLTzjZB0r0OFmHO3Y/t3QmC6LsNOjGUdoumiPpalochPnraI0Jog3OsynF7s637M85UecJzVAjFAHiPk7Ogmyf9qKHLFulzI0g1vjpXx0XW8Ubmg4OQBRJaW7SR/J//AUpt
      AWS_REGION: us-east-1
      S3_BUCKET_NAME: ecommerce-images-22018097

    ports:
      - "5000:5000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - ecommerce-network
    restart: unless-stopped

  # Frontend
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        REACT_APP_API_URL: "http://ecommerce-alb-1178391586.us-east-1.elb.amazonaws.com/api"
    container_name: ecommerce-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - ecommerce-network
    restart: unless-stopped

volumes:
  postgres_data:


networks:
  ecommerce-network:
    driver: bridge
