.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}
  
.topbar-left {
    display: flex;
    align-items: center;
}

h3 {
    margin-top: 16px;
    color: #001A33;
    opacity: 85%;
    text-shadow: 3px 2px 5px #CCCCCC;
    font-family: 'Style Script', cursive;
    font-size: 30px;
    font-weight: bold;
}

.topbar-left img {
    width: 50px;
    margin-right: 10px;
    color: #001A33;
}

.topbar-right {
    overflow: hidden;
    display: flex;
    align-items: center;
    font-family: 'Style Script', cursive;
}  

a {
    text-decoration: none;
    color: white;
}


.topbar-right .icon {
    display: none;
}

.fa-bars:before {
    color: #001A33;
    font-size: 30px;
}

.btn-logout{
    background-color: #001a33;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 10px;
}

.login{
    font-size: 30px;
}

@media screen and (max-width: 767px) {
    .topbar-right a {
        display: none;
        
    }
    .topbar-right a.icon {
        float: right;
        display: block;
    }

    .topbar-right.responsive {
        margin-top: auto;
        position: relative;
        display: block;
        background-color:#e6f7ff;
        height: 405px;
        border-radius: 10px;
        width: 50%;
        padding:10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 15px -3px, rgba(0, 0, 0, 0.25) 0px 4px 6px -2px;
    }

    .topnbar-right.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topbar-right.responsive a {
        float: none;
        display: block;
        text-align: right; 
        margin-top: 5px;  
    }

    .logout-container {
        margin: 10px;
        display: flex;
        align-items: center;        
    }

    .btn-logout{
        width: 115px;
        margin-top: 15px;
    }

    .topbar{
        margin-left: 30px !important;
        margin-right: 25px !important;
        position: relative;
        z-index: 2;
    }

    h3{
        font-size: 20px;
    }

    .material-icons {
        margin-left: 16px;
    }

    .menu-open{
        margin-top: 20px; 
    }
}

a.routelink:hover {
    color: #42545C;
}

a.routelink {
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    color: #001A33;
    font-size: small;
    text-shadow: 3px 2px 5px #CCCCCC;
} 

.material-icons {
    color: #001A33;
    text-shadow: 3px 2px 5px #585757
}

/* .slide-toggle {
    height: 24px; Change the height of the slide toggle button
    width: 48px;  Change the width of the slide toggle button 
    padding-left: 10px;
    padding-right: 10px;
} */