.topbar {
    font-family: 'Style Script', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color: #001A33;
}
  
.topbar-left {
    display: flex;
    align-items: center;
}

h3 {
    font-weight: bold;
    margin-top: 16px;
    color: #001A33;
    opacity: 85%;
    text-shadow: 3px 2px 5px #CCCCCC
}

.topbar-left img {
    width: 50px;
    margin-right: 10px;
    color: #001A33;
}

.topbar-right {
    display: flex;
    align-items: center;
}  

a {
    text-decoration: none;
    color: white;
}

.btn-logout{
    background-color: #001a33;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 10px;
}

.topbar-right {
    overflow: hidden;
}

.topbar-right .icon {
    display: none;
}

.fa-bars:before {
    color: #001A33;
    font-size: 30px;
}

@media screen and (max-width: 767px) {
    .topbar-right a {
        display: none;
    }
    .topbar-right a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 767px){
    .topbar-right.responsive {
        margin-top: auto;
        position: relative;
        display: block;
    }
    .topnbar-right.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topbar-right.responsive a {
        float: none;
        display: block;
        text-align: right;    
    }
}

a.routelink:hover {
    color: #42545C;
}

a.routelink {
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    color: #001A33;
    font-size: small;
    text-shadow: 3px 2px 5px #CCCCCC;
} 

.material-icons {
    color: #001A33;
    text-shadow: 3px 2px 5px #585757
}