<div class="overflow-hidden">
    <div class="container mt-5">
        <div class="row text-center">
        <div class="col-sm-3">
            <a href="/thingstodo" class="btn btn-lg blue">
            Things to do
            <img src="assets/img_component/ticket 1.svg">
            </a>
        </div>
        <div class="col-sm-3">
            <a href="/busstop" class="btn btn-lg blue">
            Bus Stop
            <img src="assets/img_component/bus-stop.svg">
            </a>
        </div>
        <div class="col-sm-3">
            <a href="/attractions" class="btn btn-lg blue">
            Attractions
            <img src="assets/img_component/attraction1.svg">
            </a>
        </div>
        <div class="col-sm-3">
            <a href="/eateries" class="btn btn-lg blue">
            Eateries
            <img src="assets/img_component/event.svg">
            </a>
        </div>
        </div>
    </div>

    <h1 class="text-center pt-5 pb-4 head">Bus Stop</h1>

    <div class="container">
        <iframe src="https://myrapidbus.prasarana.com.my/kiosk/rpg" class="container-frame mt-4" width="100%" height="1250px"></iframe>
    </div>
</div>