.container-frame {
  border-radius: 25px;
}

.btn{
  border: none;
  border-radius: 20px;
  color: #001a33;
  text-transform: uppercase;
  padding-bottom: 15px;
  position: relative;
  background-color: #ffffff;
  margin-right: 150px;
  width: 100%;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn img{
  width: 60px;
  height: 60px;
}

.btn:hover{
  color: #001A33;
}

.btn:after{
  content: "";
  width: 0;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 20px 20px;
  transition: all 0.35s ease 0s;
}

.btn:hover:after{
  width: 100%;
}

.btn.blue:after{
  background: #001a33;
}

.text-center{
  text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.1);
  color: #001a33;
}

@media screen and (max-width: 767px){
  .btn{
      margin-bottom: 20px;
  }
}