<!--<p>events works!</p>-->
<div class="overflow-hidden">
    <div class="container  mt-5">
        <div class="row text-center">
            <div class="col-sm-3">
                <a href="/thingstodo" class="btn btn-lg blue">things to do
                    <img src="assets/img_component/ticket 1.svg">
                </a>
            </div>
    
            <div class="col-sm-3">
                <a href="/busstop" class="btn btn-lg blue">Bus Stop
                    <img src="assets/img_component/bus-stop.svg">
                </a>
            </div>
    
            <div class="col-sm-3">
                <a href="/attractions" class="btn btn-lg blue">Attractions
                    <img src="assets/img_component/attraction1.svg">
                </a>
            </div>

            <div class="col-sm-3">
                <a href="/events" class="btn btn-lg blue">events
                    <img src="assets/img_component/event.svg">
                </a>
            </div>
        </div>
    </div>

    <h1 class="text-center py-5 head">Events</h1>
    <div class="dropdown-filter" (click)="toggleFilterMenu()">
    <button class="fa fa-filter align-right" type="button"> Filter</button>
    <div class="filter-menu" [ngClass]="{ 'open': isFilterMenuOpen }">
        <div class="checkbox-group">
            <h5>Filter by Date</h5>
            <label>
              <input type="checkbox" (change)="toggleDateFilter('previous')"> Previous
            </label>
            <label>
              <input type="checkbox" (change)="toggleDateFilter('upcoming')"> Upcoming
            </label>
            
        </div>
    </div>
    </div>


    <div *ngFor="let eventdata of displayData">
      <div class="container-sm justify-content-md-center mt-4 mb-5">
        <div class="column px-4 pt-4">
          <h3>{{ eventdata.event_name }}</h3>
        </div>
        <div class="content">
          <img [src]="getImageUrl(eventdata)" alt="event-image" class="Eateries px-4 py-4">
          <p>
            <b>Event Date: {{ eventdata.event_date }}</b><br>
            {{ eventdata.event_desc }}<br>
            <b>Location: {{ eventdata.event_location }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="container justify-content-md-center">
      <h5 (click)="showMore()" class="load">Load More</h5>
    </div>
    

    <!--<div class="container-sm mt-5">
        <div class="column px-4 pt-4">
            <h3>Wesak Day</h3>
        </div>
            <div class="content">
                <img src="https://mypenang.gov.my/uploads/event/495/cover/Wesak-Day.jpg" class="px-4 py-4">
                <p><b>Event Date: 04 May 2023</b><br>
                    Wesak Day is observed by devotees to celebrate Buddha's birthday, enlightenment and 
                    achievement of Nirvana. The occasion is observed by devotees with prayers in temples.<br>
                </p>
            </div>
    </div>

    <div class="container-sm mt-5">
        <div class="column px-4 pt-4">
            <h3>George Town Heritage Celebrations 2023</h3>
        </div>
            <div class="content">
                <img src="https://mypenang.gov.my/uploads/event/498/cover/George-Town-Heritage-Celebrations.jpg" class="px-4 py-4">
                <p class="mb-5"><b>Event Date: 07 Jul 2023</b><br>
                    George Town Heritage Celebrations is an annual community-powered event that commemorates the inscription of 
                    George Town as a UNESCO World Heritage Site on 7 July 2008. It celebrates the living heritage of George Town -
                    its multicultural practices, food, arts, and crafts, as well as cultural festivities that highlight the history 
                    and local cultural pride.<br>
                </p>
            </div>
    </div>

    <div class="container-sm mt-5">
        <div class="column px-4 pt-4">
            <h3>Merdeka Day</h3>
        </div>
            <div class="content">
                <img src="https://mypenang.gov.my/uploads/event/501/cover/Merdeka-Day.jpg" class="px-4 py-4">
                <p><b>Event Date: 07 Jul 2023</b><br>
                    To commemorate Malaysia's Independence Day, an annual Merdeka Parade will be organised by the 
                    Penang State Government where contingents representing various government agencies will be taking 
                    part in the occasion<br>
                    <b>Location: Penang Esplanade</b>
                </p>
            </div>
    </div>-->
</div>

  
  
