<!--<p>about-us works!</p>-->
<div class="container">
    <h1 class="text-center py-5 head">About Us</h1>
    <div class="contents">
        <p>Welcome to Penang E-Travel, your one-stop online platform for exploring Penang's top tourist destinations. 
            Our mission is to provide visitors with a hassle-free and seamless booking experience, so you can focus on 
            enjoying all that Penang has to offer.</p> 

        <p>Founded in 2021 by a team of passionate travel enthusiasts, Penang Famous Spots Booking and Ticketing was created
            to make it easy for visitors to discover and book tickets for Penang's famous spots. We know how overwhelming it can 
            be to plan a trip, especially to a new and unfamiliar destination. That's why we're committed to providing you with all 
            the information you need to make informed decisions about your travels.</p>

        <p>On our platform, you can browse through a wide range of attractions and experiences, from historic landmarks to modern-day marvels. 
            You can also find helpful information on each attraction, such as opening hours, ticket prices, and insider tips from locals. 
            And when you're ready to book, our easy-to-use interface allows you to secure your tickets in just a few clicks.</p>

        <p>At Penang Famous Spots Booking and Ticketing, we prioritize customer service above all else. Our team is available 24/7 to answer 
            any questions you may have, and we're always looking for ways to improve your experience on our platform. We also partner with local
            businesses and tourism organizations to bring you exclusive offers and insider access to Penang's hidden gems.</p>
            
        <p>So why wait? Start exploring Penang's famous spots today and make memories that will last a lifetime. Book your tickets now on 
            Penang Famous Spots Booking and Ticketing.</p>


        <div class="penang_container pt-5">
            <div class="leftside">
                <h3 class="text-center">About Penang</h3>
                <p class="mt-4">Penang is a vibrant State with its capital, George Town, having the rare distinction of being a UNESCO World Heritage Site. 
                    It is a true melting pot of cultures with its blend of Eastern and Western influences. Retaining many of the values adopted 
                    during its era of British rule, Penang bears a charm that is unique to itself.</p>
            </div>
            <div class="rightside mt-4 ">
                <img src="https://image-tc.galaxy.tf/wijpeg-9j3ux7drhby0iny1evej1e38j/sunset-at-penang-bridge.jpg?width=1920">
            </div>
        </div> 

        <div class="georgetown_cont">
            <div class="leftside">
                <h3 class="text-center">About Georgetown</h3>
                <p class="text mt-4">Georgetown is the colorful and multicultural capital of the Malaysian island of Penang. Once an important 
                    trading center in the Straits of Malacca, the city is known for its British colonial architecture, Chinese 
                    stores and mosques. Beyond the old town, Georgetown is a modern city with skyscrapers and shopping malls. 
                    The lush Penang Hill, with its hiking and cable car railroad, overlooks it all.</p>
            </div>
            <div class="rightside ">
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/d9/78/e2/george-town.jpg?w=1200&h=1200&s=1">
            </div>
        </div>
    </div>
</div>

