.h1{
    color: #001A33;
    text-shadow: 0px 8px 4px rgba(0, 26, 51, 0.1); 
}

.contents{
    text-align: justify;
    line-height: 40px;
    color: #001A33;
    font-size: 24px;
    left: 10%;
    right: 10%;
}

.about-text{
    left: 10%;
    right: 10%;
}

.text-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #001a33;
    font-size: 24px;
    text-align: center;
    width: 80%;
    z-index: 1;
}

.rightside{
    flex: 20%;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rightside img{
    width: 600px;
    height: 426px;
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
  

/*.rightside p:hover{
    text-decoration: underline;
}*/

.leftside{
    flex: 80%;
    padding: 20px;
    margin-right: 20px;
}

.text-center{
    color: #001A33;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.penang_container{
    line-height: 45px;
    display: flex;
    flex-direction: row;
}

.georgetown_cont{
    display:flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    line-height: 45px;
    padding-top: 110px;
}

.text{
  padding-left: 20px;
  margin-right: -45px;
}

@media screen and (max-width: 767px){
    .contents{
        position: inherit;
        padding: 20px;
    }

    .georgetown_cont{
        display: block;
        padding-top: 80px;
    }
    
    .penang_container{
        display: block;
    }

    .text-container{
        position: inherit;
    }

    .rightside img{
        width: 332px;
        height: 243px;
    }

    .align{
        margin-top: 0em;
    }

    .text{
        padding-left: 0px;
        margin-right: 0px;
        text-align: none;
    }

    .leftside{
        padding: 10px;
    }

    .leftside h3{
        font-size: 30px;
        padding-bottom: 20px;
    }
    
    .head{
        font-size: 42px;
    }
}