.col img {
    border-radius: 20px
}
  
.col{
  color: #001A33;

}
  
.col h1{
  text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.2);
}
  
.attraction-image{
  width: 200px;
  height: 200px;
}
  
.left{
  display: flex;
}

.order{
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 1300px;
  padding: 20px;
}
  
.right{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: center;
}

.btn-sm{
  color: white;
  background-color: #00284d;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  text-decoration: none;
  padding: 10px;
}
  
.btn-sm:hover{
  color: white;
  background-color: #001A33;
}
  
.circle-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 20px 0;
}
  
.circle-container {
  width: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
  
.blueBg {
  background-color: #001a33;
}
  
.inner-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #001A33;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.text {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  font-weight: bolder;
}
  
.blueTxt {
  color: #001a33;
}
  
.cursor-pointer {
  cursor: pointer;
}
  
.outer-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
}
  
.number{
  color:#ffffff;
}
  
.reducedOpacity {
  opacity: 0.5; /* Adjust the opacity level as desired */
}
  
.container{
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  margin-left: 0px;
  width: 600px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.col-md-6{
  padding: 10px;
}

.left-btn{
  margin-right: 20px;
}
  
.right-btn{
  margin-left: 20px;
}

.calendar-table, th {
  margin: 20px;
  margin-left: 70px;
  padding: 20px;
  text-align: center;
}

.calendar-header{
  margin-left: 205px;
}

.selected-date{
  font-weight: bold;
}

.input-row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
  
.input-container {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
  
.input-with-icons {
  display: flex;
  align-items: center;
}
  
.minus-icon,
.plus-icon {
  cursor: pointer;
  margin: 0 5px;
}

.input{
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.submit {
  background-color: #001A33;
  color: white;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.submit:hover{
  background-color: white;
  color: #001A33;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
}

.col-left{
  display:flex;
}

.payment-image{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 260px;
}
  
@media screen and (max-width: 767px){
  .col img{
    width: 366px;
    height: 300px;
}
  
  .col h1{
    font-size:40px;
    text-align: center;
  }

  .calendar-table, th{
    margin: 20px;
    margin-left: 12px;
    padding: 7px;
    text-align: center;
  }

  .calendar-header{
    margin-left:0px;
    text-align: center;
  }

  .left{
    display:block;
    width: 366px;
    height: 660px;
  }

  .right{
    display: block;
    margin-left: 10px;
  }

  .submit{
    margin-top: 25px;
  }
}
  