#accordion{
    margin: 50px auto;
    width: 90%;
    color: #001a33;
}

#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    background-color: #e6ffff;
}

#accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    font-weight:500;
    cursor: pointer;
    color: #001a33;
}

#accordion li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color: #001a33;
}

#accordion li label + input[type="radio"]{
    display: none;
}

#accordion .content{
    padding: 0px 10px;
    line-height: 26px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

#accordion li label + input[type="radio"]:checked + .content{
    max-height: 2000px;
    transition: max-height 0.5s ease-in;
}

.content img{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content p{
    font-size: 18px;
}

@media screen and (max-width: 767px) {
    #accordion {
        width: 90%;
        color: #001a33;
        margin-top: 50px;
        margin-left: 0px;
    }

    .content img{
        width: 100%;
        border-radius: 25px;
    }
}