<!--<p>news works!</p>-->
<div class="overflow-hidden">
    <ul id="accordion">
        <h1 class="mb-5">News</h1>
        <li>
            <label for="first" class="text-capitalize">Malaysia Reopening for Tourism - Latest Updates <span>&#x3e;</span></label>
            <input type="radio" name="accordian" id="first" checked>
            <div class="content">
                <img src="https://assets.nst.com.my/images/articles/Copy_Of_03APTOURISM_NSTfield_image_socialmedia.var_1645146619.jpg">
                <h4 class="mt-5">August - Malaysia lifts all its Covid-19 entry restrictions</h4>
                <p class="mt-3">All of Malaysia's Covid entry restrictions, such as testing and quarantine requirements, have been lifted 
                    for foreign arrivals. Prior to the regulation change, unvaccinated visitors were required to undergo 
                    a PCR testing two days prior to departure and a professionally administered rapid antigen test within 
                    24 hours of arrival, followed by five days of quarantine. Tourists may still want to use the 
                    MySejahtera app as there is still uncertainty regarding the removal of the travel form.
                </p>
            </div>
        </li>
        <li>
            <label for="second" class="text-capitalize">Penang Hill is the best attraction on the island for this Malaysian hiker<span>&#x3e;</span></label>
            <input type="radio" name="accordian" id="second">
            <div class="content">
                <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/06/70/0a/41.jpg">
                <p class="mt-5">The 833m-high Penang Hill (also known as Bukit Bendera) is located in the heart of the island and 
                    is popular with locals and tourists. It takes about three hours to reach the top, where the funicular train 
                    station is located. The trails up the hill are well maintained and have signboards, and there are several rest 
                    areas along the trail for walkers and hikers to take a breather. The most popular trails begin at either the 
                    Youth Park, Moongate, Botanical Gardens or Rifle Range Road. The Moongate trail is a popular hike, with the 
                    first two rest areas (No.3 and No.5) being the most popular.
                </p>
                <p>It takes 30 minutes to reach the first rest area (No.3) from the Youth Park, and 30 minutes to reach the next 
                    rest area (No.39). It takes 45 minutes to reach the top from No.84, and the cool air helps power through all 
                    the way. There is a mountain bike trail from the Youth Park, but many prefer to use the metal road. 
                    The funicular train is an interesting way to go up the hill.</p>
            </div>
        </li>
        <li>
            <label for="third" class="text-capitalize">Penang all geared up to welcome international visitors<span>&#x3e;</span></label>
            <input type="radio" name="accordian" id="third" >
            <div class="content">
                <img src="https://apicms.thestar.com.my/uploads/images/2019/12/19/445245.jpg">
                <p class="mt-5">Penang will use a three-week buffer period to ensure everything is in place to welcome 
                    international visitors to the state next month. Malaysia and Singapore have reached an agreement to 
                    expand the Vaccinated Travel Lane (VTL) by air to serve the Penang-Singapore route starting March 16. 
                    Chief Minister Chow Kon Yeow has started making the necessary preparations more than two months ago. 
                    PISP is meant to unlock career opportunities for talented individuals to experience Penang's live-work-play 
                    balanced lifestyle. Chief Minister Chow Kon Yeow said PISP is meant to unlock career opportunities for talented 
                    individuals to experience Penang's live-work-play balanced lifestyle.
                </p>
                <p>He also said airline companies must rearrange their schedules and international tourists must be willing to 
                    enter the country. The Penang Harmony Week 2022 is held in conjunction with the Penang Harmony Corporation's 
                    1st anniversary and the United Nations International Day for the Elimination of Racial Discrimination. 
                    Six programmes and activities are lined up between March 14 and 21.
                </p>
            </div>
        </li>
    </ul>
</div>
  

