<div class="container-sm justify-content-md-center my-5">
  <div class="row">
    <div class="col py-5 px-5">
      <div *ngIf="selectedData">
        <div class="left">
          <a [routerLink]="'/attractions'"><img [src]="getImageUrl(selectedData)" alt="attraction-image" class="attraction-image"></a>
            <div class="right">
              <h3 class="mb-4 px-4">{{ selectedData.att_name }}</h3>
              <p class="mt-2 px-4">
                <b>Description:</b><br>
                {{ selectedData.att_desc }}<br><br>
                <b>Location:</b> {{ selectedData.att_location }}<br><br>
                <b>Opening Hours:</b>
                <ng-container *ngIf="formatTime(selectedData.att_openHrs) === '24 Hours'">
                  {{ formatTime(selectedData.att_openHrs) }}
                </ng-container>
                <ng-container *ngIf="formatTime(selectedData.att_openHrs) !== '24 Hours'">
                  {{ formatTime(selectedData.att_openHrs) }} - {{ formatTime(selectedData.att_closeHrs) }}
                </ng-container><br><br>
                <b>Price: </b>
                <strong>RM {{ selectedData.att_price }}</strong>
              </p>
              <div class="right2 px-3 pt-3">
                <ng-container *ngIf="selectedData.att_price !== '-'">
                  <a [routerLink]="'/cart'" (click)="addToCart(selectedData)" class="btn-sm float-right">Add To Cart</a>
                  <a [routerLink]="'/booking-details'" class="btn-sm float-right mx-3 my-5" (click)="redirectToBookingDetailsComponent(selectedData)">Buy Now</a>
                </ng-container>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>