<div class="container-sm justify-content-md-center my-5">
  <div class="row">
    <div class="col py-5 px-5">
      <div *ngIf="selectedData">
        <div class="left">
          <img [src]="getImageUrl(selectedData)" alt="events-image" class="events-image">
          <div class="right">
            <h1>{{ selectedData.event_name }}</h1>
            <h5 class="my-4">
              {{ selectedData.event_desc }}<br><br>
              Event Date: {{ selectedData.event_date }}<br><br>
              Location: {{ selectedData.event_location }}<br><br>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
