<app-admin-topbar></app-admin-topbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mt-2">
            <!-- <div class="card mb-3">
                <div class="form-floating mb-3">
                    <h5 class="text-dark text-muted px-2 pt-2">Welcome, </h5>
                </div>
            </div> -->
            <div class="card border-0 shadow p-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="eventName" name="eventname" [(ngModel)]="event_name">
                    <label for="event_name">Event Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="eventDesc" name="eventdesc" [(ngModel)]="event_desc">
                    <label for="event_desc">Description</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="time" class="form-control" id="attOpenHrs" name="attopenHrs" [(ngModel)]="event_openHrs" min="10:00" max="23:00">
                    <label for="eventopenHrs">Opening Hours</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="time" class="form-control" id="eventCloseHrs" name="eventcloseHrs" [(ngModel)]="event_closeHrs" min="10:00" max="23:00">
                    <label for="eventcloseHrs">Close Hours</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="eventPrice" name="eventprice" [(ngModel)]="event_price">
                    <label for="eventprice">Price</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="eventLocation" name="eventlocation" [(ngModel)]="event_location">
                    <label for="eventlocation">Address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="file" (change)="handleFileInput($event)" accept="image/jpeg, image/png">
                </div>
                <button type="button" class="btn btn-outline-success" (click)="addEvents()">Add</button><br>
            </div>
        </div>
        <div class="col-md-8 mt-2 mb-3">
            <h5 class="text-danger">Event Lists</h5>
            <div class="card p-3">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Event Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Opening Hours</th>
                            <th scope="col">Price</th>
                            <th scope="col">Address</th>
                            <th scope="col">Image</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let eventdata of eventdataList">
                            <td>{{ eventdata.event_name }}</td>
                            <td>{{ eventdata.event_desc }}</td>
                            <td>{{ formatTime(eventdata.event_openHrs) }} to {{ formatTime(eventdata.event_closeHrs) }}</td>
                            <td> RM {{ eventdata.event_price }}</td>
                            <td>{{ eventdata.event_location }}</td>
                            <td><img src="{{ eventdata.event_image }}" alt="event image" width="100px" height="100px"></td>
                            <td>
                                <button type="button" class="btn btn-outline-danger" (click)="deleteEvents(eventdata)">Delete</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div> 
