.container {
  width: 55%;
  height: 550px;
  border-radius: 35px;
  display: flex;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 35px;
  background-image: url('src/assets/img_component/Adminbackground.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

.adminheader {
  font-family: 'Style Script', cursive;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}

.admin-att {
  text-decoration: none !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #000000;
  background-color: #d9d9d9;
  border: 0px;
  border-radius: 15px;
  font-size: 25px;
  }

.admin-eat {
  text-decoration: none !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #000000;
  background-color: #d9d9d9;
  border: 0px;
  border-radius: 15px;
  font-size: 25px;
} 

.admin-event {
  text-decoration: none !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #000000;
  background-color: #d9d9d9;
  border: 0px;
  border-radius: 15px;
  font-size: 25px;
}