  <ng-container *ngIf="true">
    <div class="container">
     <h2>My Cart</h2>
     <hr class="line">
     <div class="cart-items">
       <!-- FETCH FROM FIRESTORE CARTDATAS -->
       <div *ngFor="let cartdata of cartdataList; let i = index" class="cart-item">
         <div class="item-index">{{ i+1 }}</div>
         <div class="item-checkbox">
           <input type="checkbox" [(ngModel)]="cartdata.selected" (ngModelChange)="calculateGrandTotal()" [id]="'checkbox-' + i">
         </div>
         <div class="item-image">
           <img [src]="getCartImageUrl(cartdata)" alt="cart-image" class="cart-image">
         </div>
         <div class="item-name p-3">{{ cartdata.cart_item_name }}</div>
         <div class="item-price">RM{{ cartdata.cart_item_price }}</div>
         <div class="item-quantity">
           <input type="number" class="num" name="input" min="0" max="99"
              [(ngModel)]="cartdata.cart_item_quantity" (ngModelChange)="updateCartItem(cartdata)" required />
         </div>
         <div class="item-total">RM{{ cartdata.selected ? (convertToNumber(cartdata.cart_item_price) * convertToNumber(cartdata.cart_item_quantity)) : 0 }}</div>
         <div class="item-delete">
           <button class="btn btn-danger" (click)="deleteCartItem(cartdata)">Delete</button>
         </div>
       </div>
 
       <hr class="line">
 
       <div class="cart-summary">
         <div class="total-label">Grand Total:</div>
         <h3>RM{{ grandTotal }}</h3>
         <div class="checkout-button my-3" *ngIf="isUserLoggedIn() && cartdataList.length > 0">
             <a href="/check-out" (click)="redirectToCheckOutComponent()" >
               <button class="btn btn-primary">
                 Go To Checkout
               </button>
             </a>
         </div>
                       
         <div class="checkout-button my-3" *ngIf="!isUserLoggedIn()">
           <button class="btn btn-primary" disabled>Please log in to proceed</button>
         </div>        
       </div>
       

     </div>
   </div> 
 </ng-container>
 

 <ng-container *ngIf="false"><br>
   <div class="container">
     <div class="center">
       <h4>Your Cart Is Empty </h4>
       <br>
       <button class="btn btn-primary">Shop Now</button>
     </div>
   </div>
 </ng-container>