.col img {
  border-radius: 20px
}

.col{
color: #001A33;
}

.col h1{
text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.2);
}

.attraction-image{
width: 420px;
height: 420px;
}

.left{
display: flex;
background-color: #ffffff;
border-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
width: 1300px;
}

.right{
display: flex;
flex-direction: column;
margin-left: 30px;
}

.btn-sm{
color: white;
background-color: #00284d;
border-radius: 10px;
width: 150px;
height: 40px;
font-size: 18px;
font-weight: bold;
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
position: relative;
text-decoration: none;
padding: 10px;
}

.btn-sm:hover{
color: white;
background-color: #001A33;
}

.circle-row {
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-bottom: 20px;
padding: 20px 0;
}

.circle-container {
width: calc(25% - 20px);
display: flex;
flex-direction: column;
align-items: center;
margin: 0 10px;
}

.blueBg {
background-color: #001a33;
}

.inner-circle {
width: 80px;
height: 80px;
border-radius: 50%;
background-color: #001A33;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
}

.text {
margin-top: 20px;
font-size: 18px;
text-align: center;
font-weight: bolder;
}

.blueTxt {
color: #001a33;
}

.cursor-pointer {
cursor: pointer;
}

.outer-circle {
width: 100px;
height: 100px;
border-radius: 50%;
position: relative;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #ffffff;
}

.number{
color:#ffffff;
}

.reducedOpacity {
  opacity: 0.5; /* Adjust the opacity level as desired */
}


@media screen and (max-width: 767px){
.col img{
  width: 350px;
  margin-left: 10px;
}

.col h1{
  font-size:40px;
  text-align: center;
}
}
